{% load static %}

<html>
    <head>
         <title>forms</title>
        <link rel="stylesheet" href="'{% static 'css/sample.css' %}">
         <style>

        h2{
            border:10px;
            text-align: center;
            text-decoration-color: black;
            background-size: 11px;
        }
        body{
            background-color: grey;
            text-align-last: center;
            
        }
        </style>



    </head>
    <body>
        <form >
           <h1 style="color:magenta"> 
            <center>LOGIN</center><br></h1>
           <h2>
                USERID:<input type="text">
                </h2>
            <h3>
                PASKEY:<input type="'password"><br><br><br><br>
            <input type="button" value="'SIGN UP">
            </h3>
            





        </form>
       
    </body>
</html>